---
layout: page
title: Futsal Summer 2015 Schedule and Standings
permalink: /futsal/schedule/
---
<h2>Current week</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home</th>
      <th>Away</th>
      <th>Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for match in site.data.2015.summer.week %}
      <tr>
        <td>{{ match.Date }}</td>
        <td>{{ match.Time }}</td>
        <td>{{ match["Team 1"] }}</td>
        <td>{{ match["Team 2"] }}</td>
        <td>{{ match["Default venue"] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<h2>Upcoming matches</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home</th>
      <th>Away</th>
      <th>Venue</th>
    </tr>
  </thead>
  <tbody>
    {% for match in site.data.2015.summer.schedule %}
      <tr>
        <td>{{ match.Date }}</td>
        <td>{{ match.Time }}</td>
        <td>{{ match["Team 1"] }}</td>
        <td>{{ match["Team 2"] }}</td>
        <td>{{ match["Default venue"] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<h2>Standings</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Pts</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>GF</th>
      <th>GA</th>
      <th>GD</th>
    </tr>
  </thead>
  <tbody>
      {% for team in site.data.2015.summer.teams %}
      <tr>
          <td>{{ team.team }}</td>
          <td>{{ team.points }}</td>
          <td>{{ team.wins }}</td>
          <td>{{ team.losses }}</td>
          <td>{{ team.draws }}</td>
          <td>{{ team.goals_for }}</td>
          <td>{{ team.goals_against }}</td>
          <td>{{ team.goal_differential }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

