---
layout: page
title: Futsal Winter 2015 Schedule and Standings
permalink: /futsal/schedule/
---
<ul>
    <li><a href="https://docs.google.com/forms/d/1aXAhp4j8j_YwOxjELoJ_vaLUCYkpKMI2PTYDoWQc09k/viewform">RSVP for 3/31</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1X_ee1bele6Wl5RUP6sq5AtldP3TuvbjrXMHYb56f-Wo/edit#gid=56268256">View rosters for 3/31</a></li>
</ul>

<h2>Upcoming matches</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home</th>
      <th>Away</th>
      <th>Venue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3/31</td>
      <td>6:00</td>
      <td>Motorco</td>
      <td>Freelancers United</td>
      <td><a href="http://www.durhamnc.gov/gis_apps/parkapp/park.cfm?ParkNam=Sherwood+Park&selVal=park">Sherwood Park</a></td>
    </tr>
    <tr>
      <td></td>
      <td>7:00</td>
      <td>Mattie B’s</td>
      <td>McCabe’s</td>
      <td><a href="http://www.durhamnc.gov/gis_apps/parkapp/park.cfm?ParkNam=Sherwood+Park&selVal=park">Sherwood Park</a></td>
    </tr>
    <tr>
      <td></td>
      <td>8:00</td>
      <td>Durham All Stars</td>
      <td>Market Failure</td>
      <td><a href="http://www.durhamnc.gov/gis_apps/parkapp/park.cfm?ParkNam=Sherwood+Park&selVal=park">Sherwood Park</a></td>
    </tr>
    <tr>
      <td>4/7</td>
      <td>6:00</td>
      <td>Freelancers United</td>
      <td>McCabe’s</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/7</td>
      <td>7:00</td>
      <td>Durham All Stars</td>
      <td>Motorco</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/7</td>
      <td>8:00</td>
      <td>Market Failure</td>
      <td>Mattie B’s</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/14</td>
      <td>6:00</td>
      <td>Durham All Stars</td>
      <td>Bull McCabe's</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/14</td>
      <td>7:00</td>
      <td>Motorco FC</td>
      <td>Market Failure</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/14</td>
      <td>8:00</td>
      <td>Freelancers United</td>
      <td>Mattie B’s</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/21</td>
      <td>6:00</td>
      <td>Bull McCabe's</td>
      <td>Mattie B's</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/21</td>
      <td>7:00</td>
      <td>Freelancers United</td>
      <td>Motorco FC</td>
      <td>Sherwood Park (Lucas Middle School as rain backup)</td>
    </tr>
    <tr>
      <td>4/21</td>
      <td>8:00</td>
      <td>Market Failure</td>
      <td>Durham All Stars</td>
      <td>Sherwood Park (Lucas Middle School as rain backup) </td>
    </tr>
  </tbody>
</table>

<h2>Previous matches</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Home</th>
      <th>Away</th>
      <th>Result</th>
      <th>Venue</th>
    </tr>
  </thead>
  <tbody>
      {% for match in site.data.matches %}
      <tr>
        <td>{{ match.date | date: "%d/%m" }}</td>
        <td>{{ match.date | date: "%I:%M %p" }}</td>
        <td>{{ match.home }}</td>
        <td>{{ match.away }}</td>
        <td>
            {{ match.score.home }} - {{ match.score.away }}
        </td>
        <td>{{ match.venue }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<h2>Standings</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Pts</th>
      <th>W</th>
      <th>L</th>
      <th>D</th>
      <th>GF</th>
      <th>GA</th>
    </tr>
  </thead>
  <tbody>
      {% for team in site.data.results %}
    <tr>
        <td>{{ team.team }}</td>
        <td>{{ team.points }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.goals_for }}</td>
        <td>{{ team.goals_against }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
