<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="/assets/img/logo-mobile.png" alt="Durham Atletico small logo">
  </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/transparency">Transparency</a></li>
      <li><a href="/donate">Donate</a></li>
    </ul>

    <div class="footer-secondary-links">

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/durhamatletico">
          <img src="/assets/img/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/durhamatletico">
          <img src="/assets/img/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
