<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="/" class="mobile-logo">
      <img src="{{ site.baseurl }}/assets/img/logo-mobile.png" alt="Durham Atletico mobile logo">
    </a>
    <a href="/" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link more"><a href="/futsal">Futsal League</a>
            <ul class="submenu">
                <li><a href="/futsal/schedule">Schedule & Standings</a></li>
            </ul>
        </li>
        <li class="nav-link"><a href="/posts">News</a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
              <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Durham Atletico logo">
          </a>
        </li>
        <li class="nav-link"><a href="/about">About Us</a></li>
        <li class="nav-link"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="header-separator">
    <div class="one">
    </div>
    <div class="two">
    </div>
    <div class="three">
    </div>
</div>
