<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="{{ site.baseurl }}/assets/img/soccer_512.png" alt="Soccer image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link more"><a href="javascript:void(0)">Futsal League</a>
            <ul class="submenu">
                <li><a href="https://docs.google.com/forms/d/1Uw2lgO41vIxjPojHrwVu1wERazluI2Imhw35ffkfMhU/viewform">Register</a></li>
                <li><a href="javascript:void(0)">Schedule</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="#">About Futsal</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link logo">
          <a href="/" class="logo">
              <h1>Durham Atl&eacute;tico</h1>
          </a>
        </li>
        <li class="nav-link"><a href="#">Contact</a></li>
        <li class="nav-link"><a href="#">Latest news</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="header-separator">
    <div class="one">
    </div>
    <div class="two">
    </div>
    <div class="three">
    </div>
</div>
