---
---
/* Bourbon, Bitters, & Neat
 * ---------------------------------------------------------------------------*/
@import "lib/normalize";
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";

/* Globals
 * ---------------------------------------------------------------------------*/
@import "base/base";

/* Layouts
 * ---------------------------------------------------------------------------*/
@import "layout";

@import "typography";
@import "navigation";

$durham-blue: #00548f;

/**
 * Globals
 */
.site-header {
    h1 {
      padding: 2% 0;
    }
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-bottom: 0.75em;
}

.header-separator {

    padding-bottom: 3%;

    .three {
        background: $durham-blue;
        width: 66%;
        height: 20px;
        float: left;
    }
    .one, .two {
        width: 17%;
        height: 20px;
        background: #ef3e42;
        float: left;
    }
    .two {
       background: #ffd046;
    }
}

/**
 * Footer
 */
.footer-2 {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-accent-color: $durham-blue;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $footer-background: desaturate(darken($base-accent-color, 40%), 10%);
  $footer-background: $base-accent-color;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


/**
 * Home page
 */
.home {
    section {
        latest { @include span-columns(12); }
        hero { @include span-columns(12); }
    }
}

.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: $durham-blue !default;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/assets/img/blog-last-game.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      background-color: rgba(0,0,0,0.7);
      padding: 0.5em;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;
        color: $hero-color;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 50%;
        }
      }
    }

    .register-button {
      @include button(flat, #00548F);
      padding: 0.7em 1em;
        a {
            color: #FFF;
        }
    }
  }
}

.intro-text {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: $durham-blue;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    text-decoration: none;
    color: $base-link-color;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $intro-text-width: 60%;

  margin-bottom: 5em;
  margin-top: 4em;
  padding: 1em;
  text-align: center;

  h3 {
    background: $base-accent-color;
    color: white;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 0.3em 0.6em;
    text-transform: uppercase;

    @include media($large-screen) {
      margin-bottom: 3.3em;
    }
  }

  h4 {
    color: lighten($base-font-color, 20);
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em;

    @include media($large-screen) {
      font-size: 1.7em;
      line-height: 1.4em;
      margin: 0 auto 1em;
      width: $intro-text-width;
    }
  }

  p {
    margin: auto;

    @include media($large-screen) {
      width: $intro-text-width;
    }

    a {
      font-size: 0.8em;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-size: 1.3em;
        line-height: 0;
      }
    }
  }
}


.scroll-on-page {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  display: inline-block;

  aside {
    @include media($large-screen) {
      @include span-columns(4);
    }
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($base-link-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  article {
    h4 {
      margin: 0 0 0.5em 0;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }

    @include media($large-screen) {
      @include span-columns(8);
    }
  }
}

.post {
    padding: 1em;
}
